# Flask Configuration
SECRET_KEY=rahulkumar
JWT_SECRET_KEY=mynameisPriya123
FLASK_ENV=development

# MongoDB Atlas Configuration
MONGODB_URI= mongodb+srv://rahulkumar9508548671_db_user:Rahul9142517255@ecommersewebsite.wbadeko.mongodb.net/EcommerseWebsite?retryWrites=true&w=majority&appName=EcommerseWebsite

# Email Configuration (Flask-Mail)
MAIL_SERVER=rahulkumar9508548671@gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=rahulkumar9508548671@gmail.com
MAIL_PASSWORD=rylx gkke gwkn yktc
MAIL_DEFAULT_SENDER=rahulkumar9508548671@gmail.com

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=928805232883-red1udn5fb1qaubie4ub81gjsq2lueem.apps.googleusercontent.com 
# Frontend URL
FRONTEND_URL=http://localhost:3000

# OTP Configuration
OTP_EXPIRY_MINUTES=10
